footer#footer.navbar.navbar-bottom
  .clearFix30
    //p  @ 2015 Vivilio.com

  .container-inner.text-center
    div.text-center
      p The more I learn, the less I realize I know.
      small.muted Socrates
    .footer-content
      //p
      //  |
      //p
      //  |
      //p
      //  |
